@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);

* { font-family: 'Roboto', sans-serif; line-height:1.2; vertical-align:top; }

body { background:#222;}

tr {width:100%;}
  
table {width:90%;}

img {width:100%;
    margin-left:auto;}

h2 {text-align:;left

}

/*.biz {
  vertical-align: top;
}*/
.name {color:white; 
      font-size:40; 
      text-align:center;
      width:100%;
     }

.biz{margin:auto;
    width:95%;
    }

main {
  display:block;
  position:relative;
  width:30rem;
  margin:3vh auto;
  padding:1.5rem 0 0;
  background:#d5d5d5;
  outline
  border-radius:.25rem;
  overflow:hidden;
  transform:scale(.75);
  transform-origin:center 3rem;
  transition:transform .3s;
}
body:hover main {
  transform:scale(1);
}

input, .card {
  position:relative;
  z-index:2;
}

a:visited,a:hover,a:link{color:#539D00;}

.card { -webkit-transition: 1s; }
.begin { left: 0px; }
.end { left: 500px; }

.card {

  overflow: auto;
  margin:auto;
  display:inline-block;
  width: 17%;
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:1rem 1rem 1rem;
  border-radius:3px;  
   -webkit-animation: myfirst .3s 1s ease both; /* Chrome, Safari, Opera */

  }


/* Chrome, Safari, Opera */ 
@-webkit-keyframes myfirst {
    00%  {left:0px; top:1200px;}
    100% {left:0px; top:0px;}
}



.card:after {
  position:absolute;
  font-size:.9rem;
  top:1.5rem;
  right:1rem;
  content:"i";
  border:thin solid gray;
  color:gray;
  width:1rem;
  line-height:1rem;
  text-align:center;
  border-radius:50%;
  pointer-events:none;
}

a:link{ text-decoration: none;

}

h1 {
  font-size:2rem;
  font-weight:200;
}
  strong {
    font-weight:300;
    color:#539D00;
  }

h2 {
  font-size:.9rem;
  line-height:2.5;
  color:gray;
  font-weight:400;
  border-bottom: 2px solid gray;
}

.map {
  height:12rem;
  background:whitesmoke;
  margin:auto;
  overflow:hidden;
  width:100%; 
}