<!DOCTYPE HTML>

<head>
  <title> GO here </title>
</head>

  <body>
      
      You should go here <%= @random_biz.name %> <br>
      <a href="/random"> Give me Something Else </a>
      

     
       
  </body>
</html>
